.generate—avatar--wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  position: fixed;
  left: -10000px;

  .avatar-box {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    /* 设定元素元素默认为父元素宽的50% */
  }

  .avatar-box:before {
    /* 设定元素为宽高相等 */
    content: "";
    display: block;
    padding-top: 100%;
  }

  img {
    /* 设定头像占满父元素，即头像宽高也相等 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    background-color: #0A47ED;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-box:only-child {
    width: 100%;
  }

  /* 只有两个 占50%父元素宽，且呈对角线分布*/
  .avatar-box:nth-child(1):nth-last-child(2) {
    margin-right: 50%;
  }

  .avatar-box:nth-child(2):nth-last-child(1) {
    margin-left: 50%;
  }

  /* 只有三个 占33.3%父元素宽，且呈上一下二分布*/
  .avatar-box:nth-child(1):nth-last-child(3) {
    margin: 0 25%;
  }

}